.Navbar {
  border-bottom: 1px solid grey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #1b0700;
  width: 100%;
}
.Navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
}

.Nav_left_item a {
  color: orangered;
  font-family: Poppins, sans-serif;
  font-size: 25px;
}
.Navbar div {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}
.Nav_Right_items {
  margin-right: 30px;
  display: flex;
  gap: 30px;
}
